/* GLOBAL STYLING */
img {
    width: 100%;
    height: auto;
}

/* svg{
    fill: white;
} */

/* NAV BAR STYLING */
.navbar{
    height: 132px;
    flex-shrink: 0;
    background: var(--primary-light, #F6F6ED);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
}

.settingsBtn{
    display: flex;
    width: 204px;
    height: 60px;
    padding: 12px;
    align-items: flex-start;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #F6F6ED;
    background: var(--secondary-gold, #FEC955);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.20);
}

/* PAGE BG IMAGES */
.jumbotron-hills{
    background-image: url('Images/base.webp');
    background-size: cover no-repeat;
    height: 400px;
    background-position-y: -150px;
}
.join-container{
    background-image: url('Images/inheritance.webp');
    background-size: cover;
}
.footerJumbo{
    background-image: url('Images/adventures.webp');
    background-size: cover;
    height: 400px;
}


/* Overview Card */
.overview-explain{
    position: relative;
    margin-top: 0;
    background: var(--primary-light, #F6F6ED);
}
.overview-explain .card{
    background: var(--tertiary-fog, #E3EDEB);
    border: 1px solid var(--tertiary-fog, #E3EDEB);
    border-radius: 0;
}

.overview-explain .card-overview img{
   padding: 20px;
}

.overview-explain .card .card-title{
    color: var(--primary-blue, #3FACCE);
}
.caligraphy-wrapper {
    display: none;
}
@media screen and (min-width: 1200px) {
    .caligraphy-wrapper {
        display: block;
        position: absolute;
        top:20px;
        right: 24px;
        width: 150px;
        z-index: 2;
    }
}
.overview-explain .card-body{
    margin: 0 24px;
}

/*Benefits Cards */

/* Phases Cards */

/* Form Card */
.form-signin .card{
    padding: 24px;
}

/* News Cards */
.news-container .card{
    margin: auto;
}

/* Buy Expansions Styling */
.goldenButton{
    width: 160px;
    height: 160px;
    /* flex-shrink: 0; */
    border-radius: 100%;
    background-color: var(--secondary-gold, #FEC955);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.goldenButton #Treasure{
    display: inline-block;
    justify-content: space-around;
    width: 75%;
}

/* BUTTON STLYING */
button, .mainBtn{
    display: inline-flex;
    padding: 1px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--tertiary-fog, #E3EDEB);
    background: var(--primary-light, #F6F6ED);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.20);

}
/* TYPOGRAPHY */
h1{
    color: #3FACCE;
    font-family: Fondamento, cursive;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 108px */
    letter-spacing: -1.656px;
}

.news, .gamePhases h1{
    text-align: center;
}
h2{
    color:  #3FACCE;
    text-align: center;
    font-family: Fondamento, cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 60px */
    letter-spacing: -0.92px;
}
h3{
    color: var(--primary-blue, #3FACCE);
    font-family: Fondamento, cursive;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: -0.552px;
}
p{
    color: var(--greyscale-black-0, #242424);
    font-family: Enriqueta, Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
    letter-spacing: -0.46px;
}
.caption{
    color: var(--secondary-gold, #FEC955);
    font-family: Enriqueta, Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    letter-spacing: -0.46px;
}